@import "../../colors_styles.scss";

.form-div {



    i {
        color: $light;
    }
}

.icon-span {
    background-color: $secondary;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;


}

.my-input, .icon-span {

    margin-bottom: 4%;


}

.form-link {
    cursor:pointer;

    :hover {
        font-weight: bold;
    }
}

