@import "../../colors_styles.scss";

.card-list {
   border: none;

    h4 {
        font-family: $brand;
        font-size:medium;
    }

}

.image-zoom {
    overflow: hidden;
  }
  
  .image-zoom img {
    transition: transform .5s ease;
    max-width: 100;
  }
  
  .image-zoom:hover img {
    transform: scale(1.5);
  }





    