@import "../../colors_styles.scss";




.oneCard {
    width: 75%;
    max-height: 88%;
    margin: auto;
    background: linear-gradient(90deg, rgb(255, 255, 255) 15%, $light 40%);
    border-radius:0%;
    border-left: none;
    border-top: none;
    box-shadow: 2px 2px 5px $secondary;

}

.topContainer {
    display:flex;
    width: 100vw;
   
    img {
        max-height: 100%;
        box-shadow: 2px 2px 5px grey;
        // box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);

    }

    .card-body {
        text-align: left;
        padding: 3%;
    }

    .price{
        background-color: $secondary;
        padding: 1% 2%;
        color: white;
        font-family: $brand;
        font-size:larger;

    }


//OVERRIDE datecomparer's style to move the badge in. These go with position - absolute!
    .badge {
        right: 5%;
        top: 10%;
    }

    


   
}

.imgDiv {
    height: 85%;
    margin: auto 10px;;
       
}

