
@import "../../colors_styles.scss";

.home-div {
    display: flex;
    background-color: rgb(18, 18, 18);
}

.picture-div {
    width: 70%;
    background-image: url("../../assets/player.jpg");
    background-size: contain;
    height: 80vh;
    background-repeat: no-repeat;
    z-index: 1;
}

.background-layer {
    background: linear-gradient(90deg, rgb(254, 254, 254, 0) 30%, rgb(254, 254, 254, 1) 65%);
    height: auto;
    width: 100%;
    margin-left: -2%;
    
    h1 {
        font-weight: 500;
        color: $dark;
        font-size: 2em;
        
    }

    h5 {
        color: $secondary;
    }

}

 .price-tag {
    color: $secondary
   
 }

 .fade-in-out {
    animation: fadeAnimation 10s ;
    animation-iteration-count: 10;
  }
  
  @keyframes fadeAnimation {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
        opacity:1
    }
    100% {
      opacity: 0;
    }
  }

  .no-styles {
    text-decoration:none;
  }