@import "../../colors_styles.scss";


.search-btn, .search-input {
    font-size: smaller;
    height: 20%;
}

.search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    background-color: $element;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: $light;

}
