@import "../../colors_styles.scss";


.main-navbar {
    border:none;
    border-bottom: 1px solid $secondary;

    .login-div {
        font-size:large
    }
    .login-div:hover {
        color: $primary;
        cursor: pointer;
    }

}
    // .welcome-div button{
    //     // border-radius:50%;
    // }

    // }
    

.cart-icon {
    color: $secondary;
    font-size: x-large;
    cursor: pointer;

}


   