@import "./colors_styles.scss";

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: $text;

}

.click-effect {
  position: relative;
  border-radius: 4em;
  padding: 0.5em;
}


.click-effect:after {
  content: '';
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px $secondary;
}

.click-effect:active:after {
  box-shadow: 0 0 0 0 $secondary;
  opacity: 1;
  transition: 0s;
}


.secondary-emphasized {
  color: $secondary;
  font-family: $text 200;
  
}




