@import "./colors_styles.scss";

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: $text;

}

.click-effect {
  position: relative;
  border-radius: 4em;
  padding: 0.5em;
}


.click-effect:after {
  content: '';
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px $secondary;
}

.click-effect:active:after {
  box-shadow: 0 0 0 0 $secondary;
  opacity: 1;
  transition: 0s;
}


.secondary-emphasized {
  color: $secondary;
  font-family: $text 200;
  
}



.icon-span {
  background-color: $secondary;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.small-text {
  font-size: x-small;
  font-family: $text 200;
}

.neon-glow {
  // box-shadow: 0px -1px 2px -2px #27AACB; 
  // box-shadow: 0px -2px 4px  -2px#27AACB;
  // box-shadow: 0px -4px 8px -2px#27AACB; 
  box-shadow: 0px -10px 16px -2px#27AACB;
  z-index: 1;
}

.dark-header {
  background-color: $dark;
}
